body{
    font-family: 'IM Fell Double Pica', serif;
 
    
}
.des{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(15, 148, 15);
    font-size: 30px;
    text-align: center;
    
    
}
h2{
    font-size: 20px;
    text-align: center;
}
.box{
    margin: 10px 30px 30px 450px;
   
}
img{
    height: 400px;
    width: 600px;
}
#one{
    text-align: center;
    font-size: 40px;
    color: rgb(68, 68, 65);
    text-decoration: underline;
}
.package{
    border: 5px rgb(16, 7, 50) solid;
    border-radius: 10px;
    margin: 40px 20px 30px 60px;
    padding: 20px 20px 40px 10px;
    width: 25%;
   float: left;
    text-align: center;
    

}
#siz{
    height: 200px;
    width: 370px;
}
.butt{
    text-decoration: none;
    padding: 4px 6px;
    color: whitesmoke;
    background-image: linear-gradient(rgb(159, 204, 227), rgb(22, 124, 234));
    border-radius: 5px;
}
.bat{
    text-decoration: none;
    padding: 4px 6px;
    color: whitesmoke;
    background-image: linear-gradient(rgb(222, 139, 76), rgb(215, 130, 32));
    border-radius: 5px;

}
.bit{
    text-decoration: none;
    padding: 4px 6px;
    color: whitesmoke;
    background-image: linear-gradient(rgb(103, 222, 103), rgb(17, 189, 17));
    border-radius: 5px;
}